_ReSharper*
_Deploy*
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.vs10x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
*.pidb
*.resources
*.dbml
*.dbmdl
*.vspscc
*.vssscc
*.log
*.pdb
CodeAnalysisLog.xml
[Bb]in/
[Oo]bj/
[Oo]bjd/
.DS_Store
.vshost.exe
ManualTestResults.xml
PerformanceLogs/
*.sap
*.swp
*.pidb
*.userprefs
~$*
*~
